#Dependencies
node_modules

#Cypress
.cypress

#Environment variables
.env


#Build
dist
build

#Logs
logs
*.log

#OS
.DS_Store
Thumbs.db

#IDE
.vscode
.idea

#Other
.DS_Store
Thumbs.db

# Allure Reports
allure-results/
allure-report/
cypress/screenshots/
cypress/videos/